{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Pque - {{title}}</title>
  {% else %}
    <title> Pque - </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">


   <!--lightbox-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">



  {% endblock %}


</head>
<body>
  {% include "navbar.html" %}

  {% block content %} {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  
     {% bootstrap_javascript %}
    {% endblock %}


</body>
</html>












<!-- 
<div class="row photos">
  {% for image in images %}
  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{image.photo.url}}" data-lightbox="photos"><img class="img-fluid" src="{{image.photo.url}}"></a>
      <h6 class="card-title">{{image.name}}</h6>
      <p class="card-text"> Description: {{image.description}}</p>
      <p class="card-text">Category: {{image.category}}</p>
      <p class="card-text">Taken in: {{image.location}}</p>
  <!-- The text field -->
  <!-- <input type="text" value="{{image.photo.url}}" id="myInput" style="display: none;">

  <!-- The button used to copy the text -->
  <!-- <button onclick="myFunction()">Copy Image Link</button>

  <script>
      function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      alert("Link copied");
      }
  </script>
  </div>
  {% endfor %}            


</div>
</div>

</div>

</div>

</div> --> --> -->
