{%extends 'all-pics/base.html'%}

{% block content %}

{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-8" id="intro">
            <h1>Welcome to Pque where you can take a peek into my world with a pic.</h1>
        </div>
    </div>

    <div class="col-md-4" id="landing">
        <img src="https://images.unsplash.com/photo-1595981234058-a9302fb97229?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9sYXJvaWRzJTIwcGhvdG9zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    </div>


</div>

<br><br><br><br>
<div class="container">
{% for image in images %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{{image.photo.url}}" class="card-img-top" alt="{{image.description}}">
        <div class="card-body">
          <h5 class="card-title">{{image.name}}</h5>
          <p class="card-text">{{image.description}}</p>
          <p class="card-text">Category: {{image.category}}</p>
          <p class="card-text">Taken in: {{image.location}}</p>
          <!-- <input type="text" value="{{image.photo.url}}" id="myInput"> -->
        <button onclick="Image()">Copy Image Link</button>

        <script>
        function Image() {
        var copyText = document.getElementById('myInput')
        copyText.select();
        document.execCommand('copy')
        console.log('Copied Text')
        }
        </script>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}


