<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-light " id="nv">
        <div class="container" >
          <a class="navbar-brand" href="{% url 'home' %}" id="txt">PQUE</a>
          <a class="navbar-brand" href="/admin" id="txt">Dashboard</a>
          <form class="d-flex" action="{% url 'search_results' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="font-style: italic;" name="image">
           <a href="{% url 'home' %}"> <button class="btn" type="submit" id="btn">Search</button></a>
          </form>
        </div>
      </nav>    
</body>
</html>